<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
<% if current_user.superWriter? %>
      <section>

        <%= render 'shared/micropost_form' %>
      </section>
<% end %>

    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  
<% else %>
  <div class="center hero-unit">
    <h2>Welcome to the first writers network</h2>
    <%= link_to image_tag("Tweet-Fotolia.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>
    <h2>
      This is the new network for collaborative learning of storytelling.
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

  
<% end %>
